h1,h2,h3,h4,h5,h6
{

    margin: 0;
    padding: 0;
}
p{
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
}
.top-header
{
    display: table;
    width: 100%;
}
.top-header .wrapper-content
{
    float: right;
}
.top-header .wrapper-content .menu,.top-header .wrapper-content .phone,.top-header .wrapper-content .search,.top-header .wrapper-content .cart
{
    float: left;
    margin-right: 10px;
}
.top-header .wrapper-content .menu,.top-header .wrapper-content .phone
{
    color: #ddd;
}
.top-header .wrapper-content .menu li
{
    display: inline;
}
.footer-header
{
    display: table;
    width: 100%;
}
.footer-header .logo-website img
{
    width: 40px;
}
.footer-header .wrapper-content-left{
    float: left;
}
.footer-header .wrapper-content-right
{
    float: right;
}

.footer-header .wrapper-content-right ul.menu > li
{
    display: inline;
}
.footer-header .wrapper-content-sub-menu
{
    display: none;
}
.footer-header .wrapper-content-right ul.menu, .footer-header .wrapper-content-right .social{
    float: left;
    margin-right: 10px;
}
.footer-header .wrapper-content-right ul.menu > li > a{
    color: #08c;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 10px;
}
.footer-header .wrapper-content-right ul.menu > li > a:hover, .footer-header .wrapper-content-right ul.menu .active{
    background: #08c;
    color: #fff;
    border-radius: 5px;
}