.header,.nav,.banner,.main,.footer, .testabc{
    width: 960px;
    margin: 0 auto;
}
.header img{
    width: 100%;
}
.banner img{
    width: 100%;
}
.nav{
    background:url("./images/bg/nav.jpg") repeat-x;
    height: 32px ;
}
.nav ul
{
    padding: 0;
    margin: 0;
}
.nav ul li{
    float: left;
    list-style: none;
}
.nav ul li a{
    padding: 2px 10px;
    display: block;
    text-decoration: none;
    color: #fff;
}
.main h3{
    margin: 0px;
}
.main ul{
    padding: 0;
    margin: 0;
}
.main ul li{
    list-style: none;
}
.main ul li a{
    text-decoration: none;
    color: black;
}
.main-content,.blog-right{
    float: left;
}
.main-content{
    width: 70%;
}
.main-content .last-new-item,.main-content .list-last-new
{
    float: left;
}
.main-content .last-new-item
{
    width: 60%;
}
.main-content .last-new-item .content
{
    text-align: justify;
    padding-right: 10px;
}
.main-content .last-new-item .content img{
    float: left;
    margin-right: 5px;
}
.main-content .list-last-new{
    width: 40%;
}
.blog-right{
    width: 30%;
}
